<div class="container text-center bg-white mt-5">
    <div class="text-white" id="imgFondoFicha">
        <div class="row" style="padding-top:40px;">
            <div class="col-6">
                <img src="~/img/bannerlogo.png" class="img-thumbnail border-0 bg-transparent" style="width:300px" />
            </div>
            <div class="col-6">
                <h1 class="txt-barbero-1">BARBERO</h1>
                <h2 class="txt-barbero-2">PROFESIONAL</h2><br />
                <h5>CURSO TEÓRICO PRÁCTICO</h5>
                <h4>DATOS DEL DEPOSITO</h4>
                <div>
                    <img src="~/img/citibanamex.png" style="width:50%" class="mx-auto d-block bg-transparent" />
                </div>
                <h5>NÚMERO DE TARJETA</h5></>
                <h5>5256 0000 0000 0001</h5>
                <h5>TITULAR</h5>
            </div>

        </div>
        @*
        <div class="mt-5">
        <h3>NÚMERO DE TARJETA</h3></>
        <h3>5256 0000 0000 0001</h3>
        </div> *@
        @*         <div class="row mt-5">
        <h3>TITULAR</h3>
        <h3>RICARDO ADÁN RUÍZ HERNANDÉZ</h3>
        </div> *@

        <div>
            <br />          <br />          <br />          <br /> <br />
            <div class="col-6 offset-3">
                <p class="lead">Te agradecemos que nos envies al whatsapp 9992681999 la imagen de tu deposito, así como el nombre completo del participante</p>
            </div>
        </div>
    </div>



</div>


@*     <img src="~/img/FichaDeposito.png" class="img-fluid " alt="Responsive image" /> *@
